.container-newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #3C3E40;

    width: 100vw;
    padding: 48px 0 48px 0;
}

.title {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 19px;

    color: #FDFDFD;

    margin-bottom: 48px;
}

.formSubmit {
    display: flex;
    gap: 0 8px;
    margin-bottom: 59px;
}

.form {
    border: none;
    padding: 6px 0 6px 5px;
    width: 278px;
    height: 32px;
    border-radius: 4px;
}

.newsletter-icon {
    filter: invert(100%);
    width: 49px;
    height: 40px;
}

.btn-newsletter {
    cursor: pointer;
    appearance: none;
    border: none;
    padding: 11px 32px;

    color: #FDFDFD;

    background: #E11383;
    border-radius: 8px;
}