.container-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.container-highlights {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.highlight-title {
    align-self: flex-start;
    padding-left: 150px
}