.section-highlights {
    display: flex;
    flex-direction: column;
    margin-bottom: 8rem;
    gap: 3rem;
}

.container-cards {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-highlights {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.title-highlight {
    align-self: flex-start;
    justify-self: left;
}

.section-highlights-mobile {
    display: none;
}

.next-arrow,
.previous-arrow {
    margin: 0;
}

.purple-line {
    align-self: flex-start;
    justify-self: left;
}

@media (max-width: 768px) {
    .section-highlights {
        display: none;
    }

    .section-highlights-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
        justify-content: center;
        margin-bottom: 8rem;
        width: 90vw;
    }

    .container-highlights {
        gap: 3rem;
    }

    .next-arrow,
    .previous-arrow {
        margin: 0;
    }

    .container-cards {
        gap: 2rem;
    }
}