.section-highlights {
    display: flex;
    flex-direction: column;
}

.container-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.container-highlights {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.highlight-title {
    align-self: flex-start;
}