.container-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    height: 55rem;
    width: 18vw;
    padding: 1.8rem;

}

.container-card:hover {
    outline: 2px solid #BA0668;
}

.card-product__title {
    display: flex;
    text-align: center;

    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.6rem;

    color: #000000;

    height: 12%;
}

.prices {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 2.4rem;
}

.card-product__previousPrice {
    display: block;
    align-self: flex-end;
    justify-self: left;

    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4rem;

    text-decoration-line: line-through;
    color: #3C3E40;
}

.container-card strong {

    font-weight: 700;
    font-size: 3.2rem;
    line-height: 3.8rem;

    color: #E11383;
}

.card-image {
    height: 50%;
    width: 100%;
    object-fit: scale-down;
}

.btn-card {
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    appearance: none;
    border: none;
    padding: 1.1rem 3.2rem;
    width: 100%;

    color: #FDFDFD;

    background: #E11383;
    border-radius: 0.8rem;
}

.container-card:hover .btn-card {
    display: flex;
}

@media (max-width: 768px) {
    /* .card-image {
        height: 30%;
    } */

    .container-card {
        width: 100%;
        padding: 0.5rem;
        height: 100%;
    }

    .card-product__title {
        font-size: 1.2rem;
        line-height: 1.6rem;
    }

    .container-card strong {
        font-weight: 700;
        font-size: 2.2rem;
        line-height: 3.8rem;

        color: #E11383;
    }

    .card-product__previousPrice {
        font-size: 1rem;
    }
}