.container-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    width: 26rem;
    padding: 1.8rem;
}

.container-card:hover {
    outline: 2px solid #BA0668;
}

.container-card span {
    display: block;
    text-align: center;
}

.card-image {
    width: 25rem;
    height: 25rem;
    object-fit: scale-down;
}

@media (max-width: 768px) {
    .card-image {
        width: 11rem;
    }

    .container-card {
        width: 10rem;
        padding: 0.5rem;
    }
}