header {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-between;

    height: 8vh;
    width: 100vw;

    background-color: #000;
}

.logo {
    height: 3.2rem;
    margin-left: 8%;
    object-fit: scale-down;
}

.container-navigation {
    display: flex;
    align-items: center;

    color: #fff;
    width: 70vw;

}

.container-navigation nav {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 3.2rem;

    font-weight: 30rem;
    font-size: 1.6rem;
    line-height: 1.9rem;

    color: #FDFDFD;
}

.search {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.search input {
    margin-right: 32px;
    width: 45rem;
    height: 3.2rem;
}

.search-icon {
    position: absolute;
    right: 4.5rem;
}

.navigation-icon {
    width: 1.4rem;
    height: 1.6rem;

    margin-left: 0.8rem;
}

.color-white {
    filter: invert(100%);
}