header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 56px;
    width: 100vw;

    background-color: #000;
}

.logo {
    width: 80px;
    height: 32px;
    margin-left: 164px;
}

.container-navigation {
    display: flex;
    align-items: center;

    color: #fff;

    margin-right: 169px;
}

.container-navigation nav {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 32px;

    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

    color: #FDFDFD;
}

.search {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.search input {
    margin-right: 32px;
    width: 450px;
    height: 32px;
}

.search-icon {
    position: absolute;
    right: 45px;
}

.navigation-icon {
    width: 14px;
    height: 16px;

    margin-left: 8px;
}

.color-white {
    filter: invert(100%);
}