footer {
    color: white;
    background-color: black;

    width: 100vw;
    padding: 3.2rem 42.2rem 3.2rem 16.4rem;
}

footer strong {
    display: block;

    color: #E11383;
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.8rem;
}

.info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.8rem;
}

.container {
    display: flex;
    flex-direction: column;
    margin-right: 10rem;
}

.navigation-menu li,
a {
    cursor: pointer;
    list-style: none;
    text-decoration: none;

    font-style: none;

    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;

    margin-bottom: 6%;

    color: inherit;
}

.adress {
    margin-bottom: 0.5rem;

    font-style: normal;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.9rem;

    color: #FDFDFD;
}

.container-contact {
    font-style: normal;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.9rem;

    color: #FDFDFD;
}

.contact {
    display: flex;
    align-items: center;
    margin-bottom: 0.6rem;
}

.contact span {
    margin-left: 0.8rem;
}

.icon-footer {
    margin-bottom: 0.8rem;
}

@media (max-width: 768px) {
    .info {
        flex-direction: column;
        width: 100vw;
    }

    .navigation-menu,
    .container-adress {
        margin-bottom: 3rem;
    }

    .navigation-menu li {
        margin-bottom: 2rem;
    }
}