footer {
    color: white;
    background-color: black;

    width: 100vw;
    padding: 3.2rem 42.2rem 3.2rem 16.4rem;
}

footer strong {
    display: block;

    color: #E11383;
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.8rem;

    padding-bottom: 0.8rem;

    margin-bottom: 1.8rem;

    border-bottom: 0.2rem solid #FDFDFD;
}

.info {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    margin-right: 10rem;
}

.navigation-menu li,
a {
    cursor: pointer;
    list-style: none;

    font-style: none;

    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;

    margin-bottom: 0.5rem;
}

.adress {
    margin-bottom: 0.5rem;

    font-style: normal;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.9rem;

    color: #FDFDFD;
}

.container-contact {
    font-style: normal;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.9rem;

    color: #FDFDFD;
}

.contact {
    display: flex;
    align-items: center;
    margin-bottom: 0.6rem;
}

.contact span {
    margin-left: 0.8rem;
}

.icon-footer {
    margin-bottom: 0.8rem;
}